.post-list
  padding: 0

  .post-item
    margin-bottom: 1rem
    margin-left: 0
    list-style-type: none

    .meta
      display: block
      margin-right: 5px
      color: $color-meta

@media (min-width: 480px)
  .post-list
    .post-item
      display: flex
      margin-bottom: 5px

      .meta
        text-align: left

.project-list
  padding: 0
  list-style: none

  .project-item
    margin-bottom: 5px

.section-list
  padding: 0
  list-style: none

  .section-item
    margin-bottom: 5px
    background: #f6f8fa
    padding: 2px 15px
    border-radius: 5px
    border: 1px solid #ccc
    cursor pointer;

    &:hover {
        background-color: #fff;
    }

    span 
        font-size: 16px

    small
      color: gray;
      font-size: 15px;